.Rproj.user
.Rhistory
.RData
.Ruserdata
/.Rproj.user
/.Rproj.user/83139701
.Rproj.user/83139701/sources/prop/BB989BB8
/.Rproj.user/83139701/sources
/.Rproj.user/83139701/sources/prop
.Rproj.user/83139701/sources/prop/BB989BB8
